<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not a secure application</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    // Function to send POST request for promoting or demoting
    function changePermission(username, action) {
      fetch('/agents', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          username: username,
          action: action
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          // Update the permission level on the page (if necessary)
          location.reload();
        } else {
          alert(data.message);
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
</head>
<body class="bg-[#121417] relative max-w-[1800px] m-auto">
  <nav class="relative w-full lg:fixed lg:w-[24rem] lg:h-screen lg:py-32 px-8 flex flex-col gap-4">
    <a href="/dashboard" class="hover:bg-[#293038] rounded-xl w-full px-16 py-6 flex flex-row justify-start gap-4 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
      <h1 class="text-2xl font-medium">Dashboard</h1>
    </a>
    <a href="/agents" class="bg-[#293038] rounded-xl w-full px-16 py-6 flex flex-row items-center gap-4 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
      <h1 class="text-2xl font-medium">Agents</h1>
    </a>
    <a href="/chats" class="hover:bg-[#293038] rounded-xl w-full px-16 py-6 flex flex-row items-center gap-4 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
      <h1 class="text-2xl font-medium">Chats</h1>
    </a>
    <a href="/settings" class="hover:bg-[#293038] rounded-xl w-full px-16 py-6 flex flex-row items-center gap-4 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
      <h1 class="text-2xl font-medium">Settings</h1>
    </a>
    <a href="/logout" class="hover:bg-[#293038] rounded-xl w-full px-16 py-6 flex flex-row items-center gap-4 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round"
           stroke-linejoin="round" class="lucide lucide-log-out">
        <path d="M9 21H5a2 2 0 0 1 -2 -2V5a2 2 0 0 1 2 -2h4"/>
        <path d="M16 17l5 -5 -5 -5"/>
        <path d="M21 12H9"/>
      </svg>
      <h1 class="text-2xl font-medium">Logout</h1>
    </a>
  </nav>

  <div class="relative lg:absolute lg:right-0 lg:top-0 lg:w-[calc(100%-24rem)] min-h-screen p-32 text-white">
    <h1 class="text-5xl font-bold mb-8">Agents</h1>
    <p class="text-gray-400 mb-8">Manage other agents. If you have a higher or equal permission than them, you can change their permission level.</p>
    <p class="text-gray-400 mb-8">Your permission level: 
      <span id="permission-level-{{ user }}" class="permission-level" data-username="{{ user }}">{{ permission_level }}</span>
    </p> 

    <!-- Agents table -->
    <div class="rounded-xl overflow-hidden border border-gray-700 bg-gray-900">
      <table class="min-w-full divide-y divide-gray-700">
        <thead class="bg-gray-800">
          <tr>
            {% if 'username' in columns %} <th class="px-6 py-3 text-left text-sm font-medium text-gray-400">Agent</th>{% endif %}
            {% if 'role' in columns %} <th class="px-6 py-3 text-left text-sm font-medium text-gray-400">Role</th>{% endif %}
            {% if 'permissionLevel' in columns %} <th class="px-6 py-3 text-left text-sm font-medium text-gray-400">Permission Level</th>{% endif %}
            {% if 'actions' in columns %} <th class="px-6 py-3 text-left text-sm font-medium text-gray-400">Actions</th>{% endif %}
            {% if 'biometricFingerprint' in columns %} <th class="px-6 py-3 text-left text-sm font-medium text-gray-400">Biometric Fingerprint</th>{% endif %}
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-700">
          {% for subordinate in subordinates %}
            <tr>
              <td class="px-6 py-4 flex flex-row items-center gap-4">
                <img
                class="rounded-full border border-1 border-gray-400"
                src="/profilePicture/{{subordinate.username}}"
                width="40"
                height="40"
                alt="Profile image"
                onerror="this.onerror = null; this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png';"
                />  
                <p>{{ subordinate.username }}</p>
              </td>
              <td class="px-6 py-4">{{ subordinate.role }}</td>
              <td id="permission-level-{{ subordinate.username }}" class="permission-level px-6 py-4" data-username="{{ subordinate.username }}">{{ subordinate.permissionLevel }}</td>
              <td class="px-6 py-4">
                <button 
              onclick="changePermission('{{ subordinate.username }}', 'promote')" class="mt-1 bg-green-600 hover:bg-green-700 text-white px-2 py-2 rounded-xl"
              {% if subordinate.permissionLevel == permission_level %} 
                disabled 
                style="background-color: gray; cursor: not-allowed;" 
              {% endif %}>
              Promote
            </button>
                <button onclick="changePermission('{{ subordinate.username }}', 'demote')" class="mt-1 bg-red-600 hover:bg-red-700 text-white px-2 py-2 rounded-xl"
                {% if subordinate.permissionLevel > permission_level or subordinate.permissionLevel <= -100 %} 
                disabled 
                style="background-color: gray; cursor: not-allowed;" 
              {% endif %}>
              Demote</button>
              </td>
              {% if subordinate.biometricFingerprint %}
              <td>
                {{ subordinate.biometricFingerprint }}
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
